extends layout

block content
  h1 Provider Search
  p.lead Find the best Providers.
  hr
  .row
    .col-sm-6
      h2 Search for the Providers
      p Enter your problems and find all the providers.
      p
        a.btn.btn-default(href='/search', role='button') View details »
    .col-sm-6
      h2 Save your Favorite List of Providers.
      p One-click saving of your favorite providers.
      p
        a.btn.btn-default(href='/favorites', role='button') View details »
    .col-sm-6
      h2 Compare the Providers
      p Now you can compare the providers based on different features or attributes.
    .col-sm-6
      h2 Rate/Review the Providers
      p Feedback loop is the strongest factor towards any system's improvement. Rate/Review the providers and let your vote count.